:root{
    --midnight-blue: hsla(234, 74%, 27%, 1);
    --penn-blue: hsla(227, 91%, 13%, 1);
    --rich-black: hsla(225, 88%, 6%, 1);
    --russian-violet: hsla(289, 67%, 21%, 1);
    --penn-blue-2: hsla(231, 88%, 13%, 1);
}

*{
    margin: 0;
    padding: 0;
    background-color: #111;
}

.text-Segoe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--russian-violet);
}

nav{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--penn-blue-2);
    font-size: 1.2rem;
    font-weight: bolder;
}

nav > a{
    background-color: transparent;
    color: antiquewhite;
}

nav > a:hover{
    color: rgba(249, 249, 249, 0.606);
    background-color: rgba(0, 0, 0, 0.223);
    border-radius: 12%;
    font-size: 1.18rem;
}